body {
    display: block;
    background-color: #e9ecef;
    font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
    color: #000000;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
    color: inherit;
}

/*========DROPDOWN NAVBAR==========*/

.dropdown_navbar {
    text-align: center;
}

.dropdown_button {
    background-color: #c8cbcf;
    width: 100%;
    opacity: 0.5;
    padding: 2%;
    font-size: xx-large;
    text-align: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown_content {
    display: none;
    position: absolute;
    background-color: #e9ecef;
    min-width: 100%;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown_content a {
    color: black;
    padding: 2%;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown_content a:hover, .dropdown_content a:active {
    background-color: #c8cbcf;
}

/* Show the dropdown menu on hover */
.dropdown_navbar:hover .dropdown_content, .dropdown_navbar:active .dropdown_content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown_navbar:hover .dropdown_button, .dropdown_navbar:active .dropdown_button {
    opacity: 1;
}


/*========FLEXBOX CONTAINER==========*/


.flexbox_container {
    display: flex;
    height: 80vh;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: start;
    justify-content: center;
}

.flexbox_item {
    text-decoration: none;
    color: #000000;
    background-color: #c8cbcf;
    list-style-type: none;
    width: 30%;
    height: 20%;
    margin: 1%;

    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}

.flexbox_item:hover, .flexbox_item:active {
    box-shadow: 0 0 5px;
    transition: box-shadow 0.3s ease-in-out;
}


.flexbox_inscription {
    align-self: center;
    font-size: larger;
}

.flexbox_subscription {
    font-style: italic;
    align-self: center;
}

.flexbox_button {
    align-self: flex-end;
}


@media screen and (max-width: 1000px) {
    .flexbox_item {
        width: 90%;
    }
}