<!--========DROPDOWN NAVBAR==========-->
  <div class="dropdown_navbar">
      <button class="dropdown_button" onclick="showContent()">
          {{ title }}
      </button>
      <div class="dropdown_content">
          {% if title != COMPANY_NAME %}
              <a href="{{ url_for('site.departments') }}"><i>===Main Page===</i></a>
          {% endif %}
          {% for department in departments if department['name'] != title %}
          <a href="{{ url_for('site.department', dep_name=department['name']) }}">
              {{ department['name'] }}
          </a>
          {% endfor %}
      </div>
  </div>
<script>
    function showContent() {
      let x = document.querySelector(".dropdown_content");

      if (!x.style.display || x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
}
</script>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissable" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

